﻿@model WebApi.Models.PlayGameViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Crabs of Fire - Play</title>
        <style type="text/css">
            input {
                font-size: 3em;
            }

            td {
                display: inline-block;
                margin: 5px 10px;
            }

            th {
                font-size: 4em;
            }
        </style>
    </head>
    <body>
    <div>
        <input type="button" onclick="RequestHehay()" value="Hehay" />
    </div>
    <div>
        <table>
            <tr>
                <th>
                    Spawn Objects
                </th>
            </tr>
            <tr>
                @foreach (var spawnType in Model.SpawnOptions)
                {
                    <td>
                        <input type="button" onclick="RequestSpawn(@(spawnType.Key))" value="@(spawnType.Value)" />
                    </td>
                }
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <th>
                    Adjust Wind
                </th>
            </tr>
            <tr>
                <td>
                    <input type="button" onclick="RequestAdjustWind(-5)" value="Blow West"/>
                </td>
                <td>
                    <input type="button" onclick="RequestStopWind()" value="Stop"/>
                </td>
                <td>
                    <input type="button" onclick="RequestAdjustWind(5)" value="Blow East"/>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        function RequestHehay() {
            MakeWebRequest('hehay');
        }

        function RequestSpawn(spawnType) {
            MakeWebRequest('spawn/' + spawnType);
        }

        function RequestAdjustWind(windForce) {
            MakeWebRequest('wind/adjust/' + windForce);
        }

        function RequestStopWind() {
            MakeWebRequest('wind/stop');
        }

        function MakeWebRequest(endpoint) {
            var url = '/api/game/@(Model.GameId)/' + endpoint;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Sent request!');
                }
                else {
                    console.error('Failed to send request. Returned status of ' + xhr.status);
                }
            };
            xhr.send();
        }
    </script>
    </body>
</html>