﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Crabs of Fire - Setup</title>
    <style type="text/css">
        input {
            font-size: 3em;
        }
    </style>
</head>
<body>
<div>
    <input type="number" placeholder="Enter Room Code" id="gameId"/>
    <input type="button" onclick="StartGame()" value="Start Game"/>
</div>
<script type="text/javascript">
    function StartGame() {
        var gameIdInput = document.getElementById("gameId");
        if (!gameIdInput)
            return;
        var url = '/play/' + gameIdInput.value;
        document.location.href = url;
    }
</script>
</body>
</html>